APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_LOCALE=nl_NL

LOG_CHANNEL=local_stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="mail@${APP_NAME}.local"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

VAR_DUMPER_FORMAT=server

BUGSNAG_API_KEY=

FM_DATABASE=
FM_USERNAME=
FM_PASSWORD=
FM_HOSTNAME=

FAKKEL_TOKEN=
FAKKEL_CHANNEL=

BACKUP_DISK=localhost
BACKUP_NAME=projectname-localhost
BACKUP_ARCHIVE_PASSWORD='foobar'
BACKUP_NOTIFICATION_EMAIL='webdev@ifresh.nl'

DIGITALOCEAN_SPACES_KEY=
DIGITALOCEAN_SPACES_SECRET=
DIGITALOCEAN_SPACES_ENDPOINT=https://ams3.digitaloceanspaces.com
DIGITALOCEAN_SPACES_REGION=ams3
DIGITALOCEAN_SPACES_BUCKET=ifresh-backup

DEFAULT_USER_NAME='John doe'
DEFAULT_USER_EMAIL='john@doe.com'
DEFAULT_USER_PASSWORD='secret'